<table class="dir-table">
    <tr class="dir-table-row">
        <th class="dir-table-cell">@Resources.Resource.ContactsName</th>
        <th class="dir-table-cell">@Resources.Resource.ContactsPost</th>
        <th class="dir-table-cell">@Resources.Resource.ContactsPhone</th>
        <th class="dir-table-cell">Email</th>
        <th class="dir-table-cell">Организация</th>
        <th class="dir-table-cell">Отдел</th>
    </tr>
    @foreach (rupbes.Models.DatabaseBes.Employee employee in Model)
    {
        <tr class="dir-table-row">
            <td class="dir-table-cell">
                @employee.last_name @employee.first_name @employee.father_name
            </td>
            <td class="dir-table-cell">
                @employee.Post.Name
            </td>
            <td class="dir-table-cell">
                @{
                    if (employee.is_phone && employee.Contacts.Any(x => x.ContactsTypeId == 2))
                    {
                        foreach (rupbes.Models.DatabaseBes.Contact contact in employee.Contacts.Where(x => x.ContactsTypeId == 2))
                        {
                            <a href="tel:@contact.ContactName"> @contact.ContactName</a>
                        }
                    }
                    else
                    {
                        <span>-</span>
                    }
                }
            </td>
            <td class="dir-table-cell">
                @if (employee.is_email == true)
                {
                    foreach (rupbes.Models.DatabaseBes.Contact contact in employee.Contacts.Where(x => x.ContactsTypeId == 1))
                    {
                        if (employee.is_confirm_email == true)
                        {
                            <a href="mailto:@contact.ContactName"> @Html.Raw(contact.ContactName.Replace("@", "<wbr>@"))</a>
                        }
                        else
                        {
                            <span>
                                @Html.Raw(contact.ContactName.Replace("@", "<wbr>@")) (почта еще не создана)
                            </span>
                        }
                    }
                }
            </td>
            <td class="dir-table-cell">
                @employee.Department.Company.Abbreviation
            </td>
            <td class="dir-table-cell">
                @employee.Department.Name
            </td>
        </tr>
    }
</table>
