<footer class="footer-1lvl">
    <div class="contacts-link">
        <div class="phone-link"><span><a href="tel:+375173654680">+375-(17)-365-46-80</a></span></div>
        <div class="fax-link"><span>+375-(17)-365-44-90</span></div>
        <div class="mail-link"><span><a href="mailto:rupbes@rupbes.by">rupbes@rupbes.by</a></span></div>
    </div>
</footer>

<footer class="footer-2lvl">
    <div class="adress-block">
        <span class="adress-text">@Resources.Resource.Requisites</span>
    </div>
    <div class="outlink-block">
        <a href="http://president.gov.by/" class="outlink-item">
            <div class="outlink-icon gerb-icon"></div>
            <span class="outlink-text">@Resources.Resource.LinkPresident</span>
        </a>
        <a href="http://minenergo.gov.by/" class="outlink-item">
            <div class="outlink-icon minenergo-icon"></div>
            <span class="outlink-text">@Resources.Resource.LinkMinenergo</span>
        </a>
        <a href="http://energo.by/" class="outlink-item">
            <div class="outlink-icon belenergo-icon"></div>
            <span class="outlink-text">@Resources.Resource.LinkBelenrgo</span>
        </a>
        <a href="https://pravo.by" class="outlink-item">
            <img src="/Content/Styles/icons/pravo.jpg" style="height:100px; width:220px" />
        </a>
        <a href="https://president.gov.by/ru/documents/ukaz-no-1-ot-3-anvara-2025-g" class="outlink-item">
            <img src="/Content/Styles/icons/Year2025.jpg" style="height:100px; width:220px" />
        </a>
        <a href="https://rupbes.by/Home/EAES" class="outlink-item">
            <img src="/Content/Styles/icons/EAES.png" style="height:100px; width:220px" />
        </a>
    </div>

    <div class="copyright">
        <span>
            © @Resources.Resource.CompanyName - @System.DateTime.Now.Year
        </span>
        <div class="button button-color-back-darkorange">
            @Html.ActionLink("Для сотрудников", "Index", "Admin")
        </div>
    </div>
</footer>

<button id="btn-up"></button>