<header class="header">
    <div class="main-menu-item">@Html.ActionLink(" ", "Index", "Home")</div>
    <div class="main-menu-item adap-item">@Html.ActionLink(Resources.Resource.MenuCompany, "Company", "Home")</div>
    <div class="main-menu-item adap-item">@Html.ActionLink(Resources.Resource.MenuServices, "Index", "Service")</div>
    <div class="main-menu-item adap-item">@Html.ActionLink(Resources.Resource.MenuContacts, "Contacts", "Home")</div>
    <div class="main-menu-item adap-item">@Html.ActionLink(Resources.Resource.MenuNews, "News", "Home")</div>
    <div class="main-menu-item adap-item">@Html.ActionLink(Resources.Resource.MenuObj, "Objects", "Home")</div>
    <div class="main-menu-item adap-item">@Html.ActionLink(Resources.Resource.MenuVacancies, "Vacancies", "Home")</div>
    <div class="main-menu-item adap-item">@Html.ActionLink(Resources.Resource.MenuSoftware, "Software", "Home")</div>
    <div class="main-menu-item adap-item">@Html.ActionLink(Resources.Resource.MenuWindow, "Index", "OneWindow")</div>
    <div class="main-menu-item adap-item"><a download href="~/Content/Files/Политика_в_области_персональных_данных.pdf">Политика в обл. ПД</a></div>

    <div class="menu-btn open-menu" id="menu"></div>

    <select name="lang" id="lang-select" class="lang-select">
        <option value="@Resources.Resource.ChoosedLang">@Resources.Resource.Lang</option>
        <option value="@Resources.Resource.ThreeLangVal">@Resources.Resource.ThreeLang</option>
        <option value="@Resources.Resource.SecLangVal">@Resources.Resource.SecLang</option>
    </select>

    <div class="eye" id="theme-switch"></div>
</header>