<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Head")
    @Html.Partial("_Analytics")
    @Html.Partial("_CookieConsent")
</head>

<body class="theme_funky">
    <div class="full-screen">
        <div class="top-screen">
            @Html.Partial("_Header")
        </div>
        <div class="container">
            @RenderBody()
        </div>
        @Html.Partial("_Footer")
    </div>
    @Html.Partial("_Modals")
    @Html.Partial("_Scripts")
    @RenderSection("scripts", required: false)
</body>
</html> 