﻿
@{
    ViewBag.Title = Resources.Resource.MenuWindow;
}

<h2 class="headline">@Resources.Resource.MenuWindow</h2>
<section class="one-window-main">

    <h3 class="h3"> Звярнуцца ў РУП «Белэнергабуд» можна адным з зручных для Вас спосабаў: </h3>

    @*<h4> Вы можаце скарыстацца адной з формаў электронных зваротаў </h4>
        <div class="flex-block">
            <div class="one-window-link">@Html.ActionLink(Resources.Resource.OneWindowPerson, "Person", "OneWindow")</div>
            <div class="one-window-link">@Html.ActionLink(Resources.Resource.OneWindowLegal, "Legal", "OneWindow")</div>
        </div>*@

    <h4>У электроннай форме</h4>
    <p class="simple-p">Электронныя звароты грамадзян, у тым ліку індывідуальных прадпрымальнікаў (далей — грамадзян), і юрыдычных асоб разглядаюцца адрасатам у адпаведнасці з патрабаваннямі Закона Рэспублікі Беларусь ад 18.07.2011 № 300-З "Аб зваротах грамадзян і юрыдычных асоб" з дапамогай сістэмы ўліку і апрацоўкі зваротаў на сайце <a href="https://обращения.бел/">обращения.бел</a>. У адпаведнасці з Законам Рэспублікі Беларусь ад 18 ліпеня 2011 года "Аб зваротах грамадзян і юрыдычных асоб" электронны зварот выкладаецца на беларускай або рускай мовах.</p>
    <p class="simple-p">Падача зваротаў у Сістэме зваротаў даступна толькі зарэгістраваным карыстальнікам.</p>
    <p class="simple-p">Доступ да рэгістрацыі карыстальніка арганізаваны з галоўнай старонкі Сістэмы зваротаў. Для пераходу да формы рэгістрацыі карыстальніку неабходна выбраць пункт "Увайсці" галоўнага меню сайта або выбраць пункт "Зарэгістравацца" <a href="https://обращения.бел/">на галоўнай старонцы сайта</a>.</p>
    <p class="simple-p">У Сістэме зваротаў могуць быць пададзены як індывідуальныя звароты, так і калектыўныя.</p>
    <p class="simple-p">Рэгістрацыя такіх тыпаў карыстальнікаў як «Юрыдычная асоба», «Індывідуальны прадпрымальнік» і «Прадстаўніцтва замежнай арганізацыі» можа быць праведзена толькі з выкарыстаннем электронна-лічбавага подпісу. Сертыфікаты адкрытых ключоў можна набыць у Рэгістрацыйных цэнтрах ДзяржСУАК. Больш падрабязна з парадкам набыцця ўказаных адкрытых ключоў можна азнаёміцца <a href="https://nces.by/">на сайце РУП «НЦЭУ»</a>.</p>
    <p class="simple-p">Асоба, якая падае зварот, можа быць фізічнай асобай або юрыдычнай асобай. Пры гэтым з уліковага запісу з тыпам карыстальніка "Грамадзянін Рэспублікі Беларусь", "Замежны грамадзянін" або "Твар без грамадзянства" можа быць пададзены зварот толькі ад фізічнай асобы, а з уліковага запісу з тыпам карыстальніка "Юрыдычная асоба", "Індывідуальны прадпрымальнік" або "Прадстаўніцтва замежнай арганізацыі" можа быць пададзены зварот як ад фізічнай асобы, так і юрыдычнай.</p>
    @*<p class="simple-p">Адказы (паведамленні) на электронныя звароты, накіроўваюцца ў сістэму ўліку і апрацоўкі зваротаў.</p>*@
    <p class="simple-p">На электронныя звароты даюцца пісьмовыя адказы (накіроўваюцца пісьмовыя апавяшчэнні) у выпадку, калі заяўнік у сваім электронным звароце просіць накіраваць пісьмовы адказ (пры запаўненні формы на сайце <a href="https://обращения.бел/">обращения.бел</a> ставіць галачку ў графе «Неабходны адказ па паштовым адрасе»).</p>
    <p class="simple-p">Больш падрабязна з правіламі працы ў Сістэме зваротаў можна азнаёміцца ў <a href="https://rupbes.by/content/files/Руководство пользователя обращения.бел.docx">Кіраўніцтве карыстальніка</a>.</p>

    <h4>У вуснай форме</h4>
    <p class="simple-p">Калі Вы вырашылі звярнуцца ў вуснай форме, то Вам трэба звярнуцца да кіраўніцтва РУП «Белэнергабуд» - кіруючая кампанія холдынгу» у <a href="@Url.Action("Contacts","Home")/#private">устаноўленыя дні і гадзіны асабістага прыёму</a>, папярэдне запісаўшыся <a href="@Url.Action("Contacts","Home")">па тэлефоне прыёмнай</a>, альбо запоўніць форму запісу на асабісты прыём <a href="@Url.Action("Person", "OneWindow")">для фізічных асоб</a> ці ж <a href="@Url.Action("Legal", "OneWindow")">для юрыдычных асоб.</a></p>

    <h4>У пісьмовай форме</h4>
    <p class="simple-p">Калі Вы вырашылі звярнуцца ў пісьмовай форме, то Вам трэба накіраваць пісьмовы зварот, з указаннем усіх неабходных рэквізітаў, у <a href="@Url.Action("Contacts","Home") ">наш адрас.</a> На пісьмовыя звароты даюцца толькі пісьмовыя адказы (паведамленні).</p>
    <p class="simple-p">З 02.01.2023 кніга заўваг і прапаноў у РУП «Белэнергабуд» - кіруючая кампанія холдынгу» не вядзецца (згодна з п.1 арт. 24 Закона Рэспублікі Беларусь «Аб зваротах грамадзян і юрыдычных асоб» у рэдакцыі Закона Рэспублікі Беларусь ад 28.06.2022 №176-З).</p>

    <appeal> Усе звароты будуць разгледжаны ў адпаведнасці з дзеючым заканадаўствам Рэспублікі Беларусь: </appeal>
    <ul class="simple-ul">
        <li> <a href="http://etalonline.by/?type=text&regnum=H11100300"> Закон Рэспублікі Беларусь ад 18 лiпеня 2011 г. № 300-З «Аб зваротах грамадзян і юрыдычных асобаў»</a> </li>
        <li> <a href="http://etalonline.by/?type=text&regnum=p30700498"> Указ Прэзідэнта Рэспублікі Беларусь ад 15 кастрычніка 2007 г. № 498 «Аб дадатковых мерах па працы са зваротамі грамадзян і юрыдычных асобаў»</a> </li>
        <li> <a href="http://etalonline.by/?type=text&regnum=p00600002"> Дырэктыва Прэзідэнта Рэспублікі Беларусь ад 27 снежня 2006 г. № 2 «Аб дэбюракратызацыі дзяржаўнага апарату і павышэнні якасці забеспячэння жыццядзейнасці насельніцтва»</a> </li>
        <li> <a href="http://pravo.by/document/?guid=3871&p0=C21200667"> Пастанова Савета Міністраў Рэспублікі Беларусь ад 23 ліпеня 2012 г. №667 «Аб некаторых пытаннях работы са зваротамі грамадзян і юрыдычных асоб»</a> </li>
        <li><a href="https://rupbes.by/content/files/Политика_в_области_персональных_данных.pdf">Палітыка ў галіне персанальных дадзеных</a></li>
    </ul>

    <p class="simple-p"> Калі Вы не згодныя з прынятым рашэннем, якасцю разгляду або паўнатой адказу на зварот, то Вам можна звярнуцца ў <a href="http://www.energo.by/content/odno-okno/"> вышэйстаячую арганізацыю . </a> </p>

    @*<p class="simple-p"> Пачынаючы з 2 студзеня 2023 г. падача электронных зваротаў у ДВА "Белэнерга" будзе ажыццяўляцца з дапамогай дзяржаўнай адзінай (інтэграванай) рэспубліканскай інфармацыйнай сістэмы ўліку і апрацоўкі зваротаў грамадзян і юрыдычных асоб <a href="https://обращения.бел/">обращения.бел.</a> </p>*@

    <a href="~/Content/Files/ПЕРЕЧЕНЬ адм.процедур  аппарата управления БЭС.docx" download="">ПЕРАЛІК АДМІНІСТРАЦЫЙНЫХ ПРАЦЭДУР, АЖЫЦЦЯЎНЫХ АПАРАТАМ КІРАВАННЯ РЭСПУБЛІКАНСКАГА УНІТАРНАГА ПАДПРЫЕМСТВА «БЕЛЭНЕРГАСТРОЙ» – КІРАЮЧАЯ КАМПАНІЯ ХОЛДЫНГА»</a>
    <p></p>

    <p class="parent-organization"><b>Вышэйстаячая арганізацыя - дзяржаўнае вытворчае аб'яднанне «Белэнерга»</b> </p>
    <p class="parent-organization">Адрас: 220004, г. Мінск, вул. Шорная, 17. </p>
    <p class="parent-organization"><b>Рэжым працы ДВА "Белэнерга":</b> </p>
    <p class="parent-organization">Рабочыя дні: з 8:30 да 17:30, абед з 12:30 да 13:30. </p>
    <p class="parent-organization">Выхадныя дні: субота, нядзеля. </p>
    <p class="parent-organization"><b>Даведачная інфармацыя:</b> </p>
    <p class="parent-organization">сайт ДВА "Белэнерга" <a href="http://www.energo.by">www.energo.by</a> </p>
    <p class="parent-organization">электронная пошта <a href="mailto:belenergo@belenergo.by">belenergo@belenergo.by</a> </p>
</section>
