@{
    ViewBag.Title = Resources.Resource.MenuWindow;
}

<h2 class="headline">@Resources.Resource.MenuWindow</h2>
<section class="one-window-main">

    <h3 class="h3">Обратиться в РУП «Белэнергострой» - управляющая компания холдинга» можно одним из удобных для Вас способов: </h3>

    @*<h4>Вы можете воспользоваться одной из форм электронных обращений</h4>
        <div class="flex-block">
            <div class="one-window-link">@Html.ActionLink(Resources.Resource.OneWindowPerson, "Person", "OneWindow")</div>
            <div class="one-window-link">@Html.ActionLink(Resources.Resource.OneWindowLegal, "Legal", "OneWindow")</div>
        </div>*@

    <h4>В электронной форме</h4>
    <p class="simple-p"><b>Электронные обращения граждан, в том числе индивидуальных предпринимателей (далее — граждан), и юридических лиц рассматриваются адресатом в соответствии с требованиями Закона Республики Беларусь от 18.07.2011 № 300-З «Об обращениях граждан и юридических лиц» посредством системы учета и обработки обращений на сайте <a href="https://обращения.бел/">обращения.бел</a>. В соответсвии с Законом Республики Беларусь от 18 июля 2011 года «Об обращениях граждан и юридических лиц» электронное обращение излагается на белорусском или русском языках.</b></p>
    <p class="simple-p">Подача обращений в Системе обращений доступна только зарегистрированным пользователям.</p>
    <p class="simple-p">Доступ к регистрации пользователя организован с главной страницы Системы обращений. Для перехода к форме регистрации пользователю необходимо выбрать пункт «Войти» главного меню сайта или выбрать пункт «Зарегистрироваться» <a href="https://обращения.бел/">на главной странице сайта</a>.</p>
    <p class="simple-p">В Системе обращений могут быть поданы как индивидуальные обращения, так и коллективные.</p>
    <p class="simple-p">Регистрация таких типов пользователей как «Юридическое лицо», «Индивидуальный предприниматель» и «Представительство иностранной организации» может быть проведена только с использованием электронно-цифровой подписи. Сертификаты открытых ключей можно приобрести в Регистрационных центрах ГосСУОК. Более подробно с порядком приобретения указанных открытых ключей можно ознакомиться <a href="https://nces.by/">на сайте РУП «НЦЭУ»</a>.</p>
    <p class="simple-p">Лицо, подающее обращение, может быть физическим лицом или юридическим лицом. При этом из учетной записи с типом пользователя «Гражданин Республики Беларусь», «Иностранный гражданин» или «Лицо без гражданства» может быть подано обращение только от физического лица, а из учетной записи с типом пользователя «Юридическое лицо», «Индивидуальный предприниматель» или «Представительство иностранной организации» может быть подано обращение как от физического лица, так и юридического.</p>
    @*<p class="simple-p">Ответы (уведомления) на электронные обращения, направляются в систему учета и обработки обращений.</p>*@
    <p class="simple-p">На электронные обращения даются письменные ответы (направляются письменные уведомления) в случае, если заявитель в своем электронном обращении просит направить письменный ответ (при заполнение формы на сайте <a href="https://обращения.бел/">обращения.бел</a> ставит галочку в графе «Необходим ответ по почтовому адресу»).</p>
    <p class="simple-p">Подробнее с правилами работы в Системе обращений можно ознакомиться в <a href="https://rupbes.by/content/files/Руководство пользователя обращения.бел.docx">Руководстве пользователя</a>.</p>

    <h4>В устной форме</h4>
    <p class="simple-p">Если Вы решили обратиться в устной форме, то Вам следует обратиться к руководству РУП «Белэнергострой» - управляющая компания холдинга» в <a href="@Url.Action("Contacts","Home")/#private">установленные дни и часы личного приёма</a>, предварительно записавшись <a href="@Url.Action("Contacts","Home")">по телефону приемной</a>, либо заполнить форму записи на личный прием <a href="@Url.Action("Person", "OneWindow")">для физических лиц</a> или же <a href="@Url.Action("Legal", "OneWindow")">для юридических лиц.</a></p>

    <h4>В письменной форме</h4>
    <p class="simple-p">Если Вы решили обратиться в письменной форме, то Вам следует направить письменное обращение, с указанием всех необходимых реквизитов, в <a href="@Url.Action("Contacts","Home")">наш адрес.</a> На письменные обращения даются только письменные ответы (уведомления).</p>
    <p class="simple-p">С 02.01.2023 книга замечаний и предложений в РУП «Белэнергострой» - управляющая компания холдинга» не ведется (согласно п.1 ст. 24 Закона Республики Беларусь «Об обращениях граждан и юридических лиц» в ред. Закона Республики Беларусь от 28.06.2022 №176-З).</p>

    <appeal>Все обращения будут рассмотрены в соответствии с действующим законодательством Республики Беларусь:</appeal>
    <ul class="simple-ul">
        <li><a href="http://etalonline.by/?type=text&regnum=H11100300">Закон Республики Беларусь от 18 июля 2011 г. № 300-З «Об обращениях граждан и юридических лиц»</a></li>
        <li><a href="http://etalonline.by/?type=text&regnum=p30700498">Указ Президента Республики Беларусь от 15 октября 2007 г. № 498 «О дополнительных мерах по работе с обращениями граждан и юридических лиц»</a></li>
        <li><a href="http://etalonline.by/?type=text&regnum=p00600002">Директива Президента Республики Беларусь от 27 декабря 2006 г. № 2 «О дебюрократизации государственного аппарата и повышении качества обеспечения жизнедеятельности населения»</a></li>
        <li><a href="http://pravo.by/document/?guid=3871&p0=C21200667">Постановление Совета Министров Республики Беларусь от 23 июля 2012 г. №667 «О некоторых вопросах работы с обращениями граждан и юридических лиц»</a></li>
        <li><a href="https://rupbes.by/content/files/Политика_в_области_персональных_данных.pdf">Политика в области персональных данных</a></li>
    </ul>

    <p class="simple-p">Если Вы не согласны с принятым решением, качеством рассмотрения или полнотой ответа на обращение, то Вам можно обратиться в <a href="https://www.energo.by/content/odno-okno/">вышестоящую организацию.</a> </p>
    @*<p class="simple-p">
            Начиная со 2 января 2023 г. подача электронных обращений в Республиканское унитарное предприятие "Белэнергострой - управляющая компания холдинга" будет осуществляться посредством государственной единой (интегрированной) республиканской информационной системы учета и обработки обращений граждан и юридических лиц <a href="https://обращения.бел/">обращения.бел.</a>
        </p>*@

    <a href="~/Content/Files/ПЕРЕЧЕНЬ адм.процедур  аппарата управления БЭС.docx" download="">ПЕРЕЧЕНЬ АДМИНИСТРАТИВНЫХ ПРОЦЕДУР, ОСУЩЕСТВЛЯЕМЫХ АППАРАТОМ УПРАВЛЕНИЯ РЕСПУБЛИКАНСКОГО УНИТАРНОГО ПРЕДПРИЯТИЯ «БЕЛЭНЕРГОСТРОЙ» – УПРАВЛЯЮЩАЯ КОМПАНИЯ ХОЛДИНГА» ПО ЗАЯВЛЕНИЯМ ГРАЖДАН</a>
    <p></p>

    <p class="parent-organization"><b>Вышестоящая организация — государственное производственное объединение «Белэнерго»</b> </p>
    <p class="parent-organization">Адрес: 220004, г. Минск, ул. Шорная, 17. </p>
    <p class="parent-organization"><b>Режим работы ГПО «Белэнерго»:</b> </p>
    <p class="parent-organization">Рабочие дни: с 8:30 до 17:30, обед с 12:30 до 13:30. </p>
    <p class="parent-organization">Выходные дни: суббота, воскресенье. </p>
    <p class="parent-organization"><b>Справочная информация:</b> </p>
    <p class="parent-organization">сайт ГПО «Белэнерго» <a href="http://www.energo.by">www.energo.by</a> </p>
    <p class="parent-organization">электронная почта <a href="mailto:belenergo@belenergo.by">belenergo@belenergo.by</a> </p>

</section>
