@*<div class="admin-img-min">
        <label>
            <img src="@ViewBag.AddedImage.src_min" />
            <input type="checkbox" checked name="img_ids" value="@ViewBag.AddedImage.id" />
        </label>
    </div>
    <span id="img-flag"></span>*@



<div class="admin-img-min">
    @if (@ViewBag.AddedImage.src_min != "document")
    {
        <label>
            <img src="@ViewBag.AddedImage.src_min" />
            <input type="checkbox" checked name="img_ids" value="@ViewBag.AddedImage.id" />
        </label>
    }
    else
    {
        <label>
            <img src="~/Content/Images/doc_icon.jpg" />
            <input type="checkbox" checked name="img_ids" value="@ViewBag.AddedImage.id" />
        </label>
    }
</div>
