@using rupbes.Models.ViewModels
@using rupbes.Models
@model List<VersionProductViewModel>
@{
    var imgs = ViewBag.imgs as List<Imgs>;
    var imgExample = new Imgs();
    imgExample.src = "https://rupbes.by/Content/Images/Product/1737710730.jpg";
    imgExample.src_min = "https://rupbes.by/Content/Images/Product/min/1737710730.jpg";
    imgExample.type_id = 11;
    imgExample.id = 7073;
}

<div class="product-info-grid">
    <div class="news-imgs-block">
        <div class="news-imgs">
            @if (imgs.Count() > 0)
            {

                foreach (var img in imgs)
                {
                    <img src="@img.src" />
                }
            }
            else
            {
                <img src="@imgExample.src" />
            }
        </div>

        <div class="minus-slide"></div>
        <div class="plus-slide"></div>
        <div class="full-screen-btn"></div>
        <p></p>
    </div>
    <div class="product-info card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="text-bold">Наименование товара :</span> @ViewData["productName"]</li>
            <li class="list-group-item"><span class="text-bold">Код ТН ВЭД :</span> @ViewData["codeTNVED"]</li>
            <li class="list-group-item"><span class="text-bold">Единица измерения :</span> @ViewData["unitName"]</li>
            <li class="list-group-item"><span class="text-bold">Организация :</span> @ViewData["departmentName"]</li>
            @foreach (PropertyViewModel property in ViewBag.properties)
            {
                <li class="list-group-item"><span class="text-bold">@property.name :</span> @(property.count)</li>
            }
        </ul>
    </div>
</div>
<div id="placeForJquery">
    <button class="button button-color-back-forestgreen button-color-white text-big" onclick="AddVersionProduct()">Добавить версию</button>
    @if (Model.Count() > 0)
    {
        <table class="dir-table">
            <tr class="dir-table-row">
                <th class="dir-table-cell">@Resources.Resource.ProductName</th>
                <th class="dir-table-cell">Характеристики</th>
                <th class="dir-table-cell">@Resources.Resource.ProductNote</th>
                <th class="dir-table-cell">Продается ли?</th>
                <th class="dir-table-cell">@Resources.Resource.Actions</th>
            </tr>

            @foreach (var version in Model)
            {
                <tr class="dir-table-row">
                    <td class="dir-table-cell">
                        @version.name
                    </td>
                    <td class="dir-table-cell">
                        @foreach (var property in version.properties)
                        {
                            <span>@property.name : @(property.count). </span>
                        }
                    </td>
                    <td class="dir-table-cell">
                        @version.note
                    </td>
                    <td class="dir-table-cell">
                        @if (version.isSale)
                        {
                            <span style="color:green">Да</span>
                        }
                        else
                        {
                            <span style="color:red">Нет</span>
                        }
                    </td>
                    <td class="dir-table-cell">
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            К сожалению вариации товара не дообавлены.
        </div>
    }
</div>
<script>
    var img = document.querySelectorAll('.news-imgs-block')
    $(document).ready(function () {
        initMass();
        pageStart();
    });
    img.forEach(e => {
        var img_news = e.querySelector('.news-imgs')
        if (img_news.childNodes.length === 1) {
            e.style.display = 'none'
        }
    })
</script>