@using rupbes.Models.Products
@model List<SubGroupProduct>
<h2>Подгруппа товаров</h2>
<button class="button button-color-back-forestgreen button-color-white text-big" onclick="AddSubGroup()">Добавить подгруппу товаров</button>
<table class="dir-table">
    <tr class="dir-table-row">
        <th class="dir-table-cell">@Resources.Resource.ProductName</th>
        <th class="dir-table-cell">@Resources.Resource.Actions</th>
    </tr>

    @foreach (var subgroup in Model)
    {
        <tr class="dir-table-row">
            <td class="dir-table-cell">
                @subgroup.name
            </td>
            <td class="dir-table-cell">
                <div onclick="EditSubGroup(@subgroup.id)" class="edit-img"></div>
            </td>
        </tr>
    }
</table>
<script>
    function AddSubGroup() {
     $.ajax({
         type: "get",
         url: '@Url.Action("CreateSubGroup", "Admin")',
         data: {id:@ViewBag.ProductId},
         success: function (data) {
             $('#searchResult').html(data);
         }
     })
    }

    function EditSubGroup(id) {
     $.ajax({
        type: "get",
         url: '@Url.Action("EditSubGroup", "Admin")',
         data: { id: id},
        success: function (data) {
            $('#searchResult').html(data);
        }
     })
    }
</script>
