@model rupbes.Models.Vacancies
@{
    ViewBag.Title = "Новая вакансия";
    string link = "Все вакансии" + " " + ViewBag.Dep.short_name_ru;
}


<section class="form-block">
    <div class="window-label">@Html.ActionLink("Вернуться к выбору филиала", "Vacancies")</div>
    <div class="window-label">@Html.ActionLink(link, "DepVacancy", new { id = ViewBag.Dep.id })</div>
    @using (Ajax.BeginForm("AddVacancy", new AjaxOptions { UpdateTargetId = "result" }))
    {
        <h4>Новая вакансия @ViewBag.Dep.short_name_ru</h4>
        <div class="window-label">
            @Html.EditorFor(model => model.vacancy_ru, new { htmlAttributes = new { @placeholder = "Название на русском языке" } })
            @Html.ValidationMessageFor(model => model.vacancy_ru, "", new { @class = "text-danger" })
        </div>

        <div class="window-label">
            @Html.EditorFor(model => model.vacancy_bel, new { htmlAttributes = new { @placeholder = "Название на беларусском языке" } })
            @Html.ValidationMessageFor(model => model.vacancy_bel, "", new { @class = "text-danger" })
        </div>

        <div class="window-label">
            @Html.EditorFor(model => model.payment, new { htmlAttributes = new { @placeholder = "Информация о зарплате" } })
            @Html.ValidationMessageFor(model => model.payment, "", new { @class = "text-danger" })
        </div>

        <div class="window-label">
            @Html.EditorFor(model => model.requirement_ru, new { htmlAttributes = new { @placeholder = "Требования к вакансии на русском языке" } })
            @Html.ValidationMessageFor(model => model.requirement_ru, "", new { @class = "text-danger" })
        </div>

        <div class="window-label">
            @Html.EditorFor(model => model.requirement_bel, new { htmlAttributes = new { @placeholder = "Требования к вакансии на белорусском языке" } })
            @Html.ValidationMessageFor(model => model.requirement_bel, "", new { @class = "text-danger" })
        </div>

        <div class="window-label">
            @Html.EditorFor(model => model.link, new { htmlAttributes = new { @placeholder = "Ссылка на вакансию в государственной службе занятости" } })
            @Html.ValidationMessageFor(model => model.link, "", new { @class = "text-danger" })
        </div>

        <div class="window-label">
            <input type="hidden" name="id_dep" value="@ViewBag.Dep.id" />
        </div>
        <div class="window-label">
            <input type="submit" value="Добавить" />
        </div>
        <span id="result"></span>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


