@model IEnumerable<rupbes.Models.DatabaseBes.Employee>

@{
    ViewBag.Title = "AllEmployees";
}

<h2>AllEmployees</h2>

<p>
    @Html.ActionLink("Добавить сотрудника", "AddEmployee", "Admin")
</p>
<table class="dir-table">
    <tr class="dir-table-row">
        <th class="dir-table-cell">Фамилия</th>
        <th class="dir-table-cell">Имя</th>
        <th class="dir-table-cell">Отчество</th>
        <th class="dir-table-cell">Филиал</th>
        <th class="dir-table-cell">Отдел</th>
        <th class="dir-table-cell">Должность</th>
        <th class="dir-table-cell">Телефон</th>
        <th class="dir-table-cell">Email</th>
        <th class="dir-table-cell">Действия</th>
    </tr>

@foreach (var item in Model) {
    <tr class="dir-table-row">
        <td class="dir-table-cell">
            @Html.DisplayFor(modelItem => item.Person.LastName)
        </td>
        <td class="dir-table-cell">
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td class="dir-table-cell">
            @Html.DisplayFor(modelItem => item.Person.FatherName)
        </td>
        <td class="dir-table-cell">
            @Html.DisplayFor(modelItem => item.Department.Company.Abbreviation)
        </td>
        <td class="dir-table-cell">
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td class="dir-table-cell">
            @Html.DisplayFor(modelItem => item.Post.Name)
        </td>
        <td class="dir-table-cell">
            @foreach (rupbes.Models.DatabaseBes.Contact contact in item.Contacts.Where(x => x.ContactsTypeId == 2))
            {
                <a href="tel:@contact.ContactName"> @contact.ContactName</a>
            }
        </td>
        <td class="dir-table-cell">
            @foreach (rupbes.Models.DatabaseBes.Contact contact in item.Contacts.Where(x => x.ContactsTypeId == 1))
            {
                <a href="mailto:@contact.ContactName"> @Html.Raw(contact.ContactName.Replace("@", "<wbr>@"))</a>
            }
        </td>
        <td class="dir-table-cell fix-size">
            @Html.ActionLink("Изменить", "EditEmployee", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "DeleteEmployee", new { id = item.Id }, new { @class = "del", @onclick = "return confirmDelete();" })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    function confirmDelete() {
        if (confirm('Вы уверены?')) {
            return true;
        }
        else {
            return false;
        }
    }
</script>