
@{
    ViewBag.Title = "Продаваемое имущество";
}

<section class="admin-content">
    @Html.ActionLink("Назад", "Index")
    <h2>Аренда</h2>
    <p>@Html.ActionLink("Добавить имущество", "CreateSale")</p>

    <h2>Список имущества</h2>
    <table class="table">
        @foreach (rupbes.Models.Sale sale in ViewBag.Sale)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => sale.title)
                </td>
                <td>
                    <button class="btn btn-default" onclick="del('@Url.Action("DeleteSale", "Admin", new { id = sale.id })')">Удалить</button>
                    <button class="btn btn-default" onclick="edit('@Url.Action("EditDepSale","Admin", new { id = sale.id })')">Изменить</button>
                </td>
            </tr>
        }

    </table>
</section>
@section scripts {
    <script type="text/javascript">
        function del(path) {
            if (confirm("Подтвердите удаление")) {
                location.href = path;
            }
            else {
            }
        };
        function edit(path) {
            location.href = path;
        }
    </script>
}