
@{
    ViewBag.Title = "Вакансии ";
}

<section class="form-block">
    <h2>Вакансии филиала</h2>
    <div class="window-label">@Html.ActionLink("Назад в меню", "Index")</div>
    <div class="window-label">@Html.ActionLink("Добавить новую вакансию", "CreateVacancy")</div>
    @foreach (rupbes.Models.Vacancies vacancy in ViewBag.Vacancies)
    {
        using (Ajax.BeginForm("EditDepVacancy", new AjaxOptions { Confirm = "Изменить вакансию?", UpdateTargetId = vacancy.id.ToString() }))
        {
            <input type="hidden" value="@vacancy.id" name="id" />
            <div class="window-label">
                <label>Название вакансии на русском языке</label>
                <input type="text" value="@vacancy.vacancy_ru" name="vacancy_ru" />
            </div>

            <div class="window-label">
                <label>Название вакансии на беларусском языке</label>
                <input type="text" value="@vacancy.vacancy_bel" name="vacancy_bel" />
            </div>

            <div class="window-label">
                <label>Требование к вакансии на русском языке</label>
                <input type="text" value="@vacancy.requirement_ru" name="requirement_ru" />
            </div>

            <div class="window-label">
                <label>Требование к вакансии на белорусском языке</label>
                <input type="text" value="@vacancy.requirement_bel" name="requirement_bel" />
            </div>

            <div class="window-label">
                <label>Заработная плата</label>
                <input type="text" value="@vacancy.payment" name="payment" />
            </div>

            <div class="window-label">
                <label>Ссылка на вакансию в государственной службе занятости</label>
                <input type="text" value="@vacancy.link" name="link" />
            </div>

            <div class="window-label">
                <input type="submit" value="Изменить" />
            </div>

        }
        <div class="form-label">
            @using (Ajax.BeginForm("DeleteVacancy", new AjaxOptions { Confirm = "Удалить вакансию?", UpdateTargetId = vacancy.id.ToString() }))
            {
                <input type="hidden" value="@vacancy.id" name="id" />
                <input type="submit" value="Удалить" />
            }
        </div>
        <span id="@vacancy.id"></span>
        <hr />
    }
</section>


