@using rupbes.Models.Products
@using rupbes.Models.ViewModels
@model List<ProductViewModel>
@{
    ViewBag.Title = "Материалы собственного приготовления";
}

<section class="admin-content">
    <div class="flex-block1">
        <div id="divGroup" class="big-link">
            <a href="ShowGroup">Категории товаров</a>
        </div>
        <div id="divProduct" class="big-link active">
            <a href="Products">Товары</a>
        </div>
    </div>
    <div id="searchResult">
        <h2>Товары</h2>
        <button class="button button-color-back-forestgreen button-color-white text-big" onclick="AddProduct()">Добавить товар</button>
        @if (Model.Count() > 0)
        {
            <div id="placeForJquery">
                <table class="dir-table">
                    <thead>
                        <tr class="dir-table-row">
                            <th class="dir-table-cell">@Resources.Resource.CodeTNVED</th>
                            <th class="dir-table-cell">@Resources.Resource.ProductName</th>
                            <th class="dir-table-cell">@Resources.Resource.ProductUnit</th>
                            <th class="dir-table-cell">Характеристики</th>
                            <th class="dir-table-cell">Комплектующие</th>
                            <th class="dir-table-cell">@Resources.Resource.ProductNote</th>
                            <th class="dir-table-cell">@Resources.Resource.Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr class="dir-table-row">
                                <td class="dir-table-cell">
                                    @product.codeTNVD
                                </td>
                                <td class="dir-table-cell">
                                    <span class="span-link text-bold" onclick="location.href='@Url.Action("ShowVersionProduct", "Admin", new { productId = product.id })'">@product.name</span>
                                </td>
                                <td class="dir-table-cell">
                                    @product.unitName
                                </td>
                                <td class="dir-table-cell">
                                    @foreach (var property in product.properties)
                                    {
                                        <span class="text-bold">@property.name </span><span>: @(property.value). </span>
                                    }
                                </td>
                                <td class="dir-table-cell">
                                    @foreach (var comp in product.components)
                                    {
                                        <span>@comp.name; </span>
                                    }
                                </td>
                                <td class="dir-table-cell">
                                    @product.note
                                </td>
                                <td class="dir-table-cell">
                                    <div class="flex">
                                        <div onclick="EditProduct(@product.id)" class="edit-img"></div>
                                        <span onclick="DeleteProduct(@product.id)" class="delete-icon">❌</span>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                На данный момент вы не добавили товаров.
            </div>
        }
        <div class="button button-color-back-red">
            @Html.ActionLink("В меню", "Index")
        </div>
    </div>
</section>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function AddProduct() {
             $.ajax({
                type: "get",
                url: '@Url.Action("CreateProduct", "Admin")',
                success: function (data) {
                    $('#searchResult').html(data);
                }
             })
        }

        function EditProduct(id) {
          $.ajax({
             type: "get",
              url: '@Url.Action("EditProduct", "Admin")',
              data: { id: id},
             success: function (data) {
                 $('#searchResult').html(data);
             }
          })
        }

        function DeleteProduct(id) {
          $.ajax({
             type: "GET",
              url: '@Url.Action("Message", "Admin")',
              data: { message: "Вы точно хотите удалить товар?", header: "Подтверждение", textButton: "Подтвердить"},
             success: function (data) {
                 $('#modal-block-for-content').html(data);
                 $('.theme_funky').css("overflow", "hidden");
                 $('#modal-block-for-content').css("display", "block");
                 $('#modal-block-for-content').addClass('active');

                 let elementDeleteButton = document.querySelectorAll('#modal-button-delete')
                 elementDeleteButton[0].addEventListener('click', () => {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("DeleteProduct", "Admin")',
                            dataType: 'html',
                            data: { id: id },
                            success: function (result) {
                                $('#modal-block-for-content').html(result);
                            }
                        });
                 })
             }
          })
        }
    </script>
}

