@model IEnumerable<rupbes.Models.Usage_report>

@{
    ViewBag.Title = "Отчет";
}
<section class="admin-content">
    @Html.ActionLink("Назад", "UsageReport")
    @if (Model.Count() > 0)
    {
        <h2>@Model.First().table</h2>
        <table class="report-table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users.login)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.table)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.action)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users.login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.table)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.action)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                </tr>
            }

        </table>

    }
    else
    {
        <h2>Отчет пуст!</h2>
    }
</section>