@using rupbes.Models.Products
@model List<GroupProduct>
@{
    ViewBag.Title = "Материалы собственного приготовления";
    var index = 1;
}

<style>
    .dir-table {
        margin: 0 auto !important;
        width: 100%;
    }

    #searchResult {
        margin-left: 20px;
        margin-right: 20px;
    }
</style>
<section class="admin-content">
    <div class="flex-block1">
        <div id="divGroup" class="big-link active">
            <a href="ShowGroup">Категории товаров</a>
        </div>
        <div id="divProduct" class="big-link">
            <a href="Products">Товары</a>
        </div>
    </div>
    <div id="searchResult">
        <div class="product-info">
            <div>
                <h2>Группа товаров</h2>
                <button class="button button-color-back-forestgreen button-color-white text-big" onclick="AddGroup()">Добавить группу товаров</button>
                <table class="dir-table">
                    <tr class="dir-table-row">
                        <th class="dir-table-cell">№</th>
                        <th class="dir-table-cell">@Resources.Resource.ProductName</th>
                        <th class="dir-table-cell">@Resources.Resource.Actions</th>
                    </tr>

                    @foreach (var group in Model)
                    {
                        <tr class="dir-table-row">
                            <td class="dir-table-cell">
                                <span class="text-bold"> @index</span>
                            </td>
                            <td data-child="child-@group.id" onclick="ShowSubGroup(@group.id,this.dataset.child)" class="dir-table-cell">
                                <span class="span-link text-bold"> @group.name</span>
                            </td>
                            <td class="dir-table-cell">
                                <div onclick="EditGroup(@group.id)" class="edit-img"></div>
                            </td>
                        </tr>
                        index = index + 1;
                    }
                </table>
            </div>
            <div>
                <div id="jquerySubGroup">
                    <h2>Подгруппа товаров</h2>
                </div>
            </div>
        </div>
        <div class="button button-color-back-red">
            @Html.ActionLink("В меню", "Index")
        </div>
    </div>   
</section>
@section scripts {
    <script>
    function AddGroup() {
        $.ajax({
            type: "get",
            url: '@Url.Action("CreateGroup", "Admin")',
            success: function (data) {
                $('#searchResult').html(data);
            }
        })
    }

    function AddSubGroup(id) {
        $.ajax({
            type: "get",
            url: '@Url.Action("CreateSubGroup", "Admin")',
            data: {id:id},
            success: function (data) {
                $('#searchResult').html(data);
            }
        })
    }

        ShowSubGroup(@Model.FirstOrDefault().id, 'child-@Model.FirstOrDefault().id');

        function ShowSubGroup(id, childObject) {
        removeActiveClass()
        var child = document.querySelector('td[data-child=' + childObject + ']').querySelector('span').classList.add('active');
         $.ajax({
             type: "get",
             url: '@Url.Action("ShowSubGroup", "Admin")',
             data: { id: id },
             success: function (data) {
                 $('#jquerySubGroup').html(data);
             }
         })
        }
        function removeActiveClass() {
            const activeSpans = document.querySelectorAll('span.active');
            activeSpans.forEach(span => {
                span.classList.remove('active');
            });
        }

         function EditGroup(id) {
          $.ajax({
             type: "get",
              url: '@Url.Action("EditGroup", "Admin")',
              data: { id: id},
             success: function (data) {
                 $('#searchResult').html(data);
             }
          })
         }
    </script>
}
