@{
    ViewBag.Title = Resources.Resource.MenuSoftware;
}

<h2 class="headline">@Resources.Resource.MenuSoftware</h2>

<section class="service-content">
    <a href="https://corp.rupbes.by:6969/" class="service-item-electronic-services">
        <div class="service-item-logo"></div>
        <div class="service-item-text">@Resources.Resource.ARM_OTPB</div>
    </a>
    <a href="https://corp.rupbes.by:6768/" class="service-item-electronic-services">
        <div class="service-item-logo"></div>
        <div class="service-item-text">@Resources.Resource.Mechanic</div>
    </a>
    <a href="https://corp.rupbes.by:6972/" class="service-item-electronic-services">
        <div class="service-item-logo"></div>
        <div class="service-item-text">@Resources.Resource.ARMContractBuilding</div>
    </a>
    @*<a href="@Url.Action("Products","Service")" class="service-item">
            <div class="service-item-logo"></div>
            <div class="service-item-text">@Resources.Resource.ServiceProduct</div>
        </a>
        <a href="@Url.Action("Services","Service")" class="service-item">
            <div class="service-item-logo"></div>
            <div class="service-item-text">@Resources.Resource.ServiceService</div>
        </a>
        <a href="@Url.Action("Mechs","Service")" class="service-item">
            <div class="service-item-logo"></div>
            <div class="service-item-text">@Resources.Resource.ServiceMech</div>
        </a>
        <a href="@Url.Action("Realty","Service")" class="service-item">
            <div class="service-item-logo"></div>
            <div class="service-item-text">@Resources.Resource.ServiceRealty</div>
        </a>
        <a href="@Url.Action("Sale","Service")" class="service-item">
            <div class="service-item-logo"></div>
            <div class="service-item-text">@Resources.Resource.ServiceSale</div>
        </a>*@
</section>